body {
    color: #fcfff5;
    background-color: #ebe9d5;
    font-size: 20px;
    font-family: roboto, arial;
    margin: 0px;
    overflow-x: clip;
}

div.topbar {
    /* Position */
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 20px;
    /* Appearance */
    display:flex;
    background-color: #71e590;
    height:100px;
    border-bottom: 5px solid #41b05e;
    border-radius: 0px 0px 15px 15px;
}

    div.topbar p, div.topbar a {
        display:flex;
        /* Centering */
        margin: 0px 20px 0px 20px;
        position: relative;
        /* Text */
        font-size: 30px;
        font-weight: 300;
    }

    div.topbar a {
        text-decoration: none;
        color: #fffcec;
    }

    div.topbar a:hover {
        color: #41b05e;
    }

        div.topbar a p {
            top: 30px;
        }

div.titlesection {
    display: flex;
    justify-content: center;
    margin: -15px 0px 30px 0px;
    overflow: clip;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
}

    div.titlesection div {
        width: 100%;
        height: 100%;
        padding: 10px;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), #ebe9d5);
    }

div.section {
    display:flex;
    justify-content:center;
    margin:50px 0px 50px 0px;
}

    div.section div {
        display: flex;
        justify-content: center;
        width: 1000px;
        max-width: 95%;
    }

        div.section div div {
            display: flex;
            justify-content: unset;
            width: 50%;
            margin: 0px 20px 0px 20px;
        }

                div.section div div div {
                    display: unset;
                    width:100%;
                    overflow: clip;
                    height: auto;
                    border: 5px solid #1b374f;
                    border-radius: 10px;
                    margin: 10px;
                    padding: 10px;
                    color: #0c120c;
                }

div.page {
    overflow-x:clip;
    /* Centering */
    margin: 50px 5% 50px 5%;
    border: 5px solid #1b374f;
    border-radius: 15px;
    padding: 30px;
    /* Text */
    color: #0c120c;
}

    div.page::after {
        content: "";
        clear: both;
        display: table;
    }

.dropshadow {
    box-shadow: 20px 10px 20px rgba(0, 0, 0, .8);
}

    h1 {
        text-align:center;
        margin:0px 0px 50px 0px;
        font-size:15vw;
        font-weight:100;
    }

@media screen and (min-width: 1500px) {
    h1 {
        text-align: center;
        margin: 0px 0px 50px 0px;
        font-size: 200px;
        font-weight: 100;
    }
}

h2, h3, h4, h5, h6, p {
    margin: 20px;
}

h2 {
    font-size:50px;
    font-weight:300;
    margin-top:20px;
}

h3 {
    font-size: 2.25vw;
    font-weight: 400;
    margin-top: 40px;
}

@media screen and (min-width: 1500px) {
    h3 {
        font-size: 30px;
    }
}

h4 {
    font-size: 1.875vw;
    font-weight: 400;
    margin-top: 40px;
}

@media screen and (min-width: 1500px) {
    h4 {
        font-size: 25px;
    }
}

    p {
        font-size: 1.5vw;
        font-weight: 300;
    }

@media screen and (min-width: 1500px) {
    p {
    font-size: 20px;
    font-weight: 300;
    }
}

p.bottom {
    color: black;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    margin: 100px 0px 30px 0px;
    text-decoration: underline;
}

hr {
    border-width:0px;
    height:1px;
    background-color:#1b374f;
}

a {
    text-decoration:none;
}

    a:hover {
        text-decoration:underline;
    }

table.toc {
    border: 1px solid #1b374f;
    border-collapse:collapse;
}

    table.toc th, table.toc td {
        text-align: left;
        padding: 10px;
        border-bottom: 1px solid #1b374f;
    }

table.profile {
    width:30%;
    border: 1px solid #1e1910;
    border-collapse: collapse;
    float: right;
}

    table.profile td {
        padding: 10px;
        border-top: 1px solid #1b374f;
        font-size: 1.5vw;
    }

    @media screen and (min-width: 1500px) {
        table.profile td {
            font-size: 25px;
        }
    }

th.profileheading {
    color: #fbd693;
    background-color: #1e1910;
    text-align: center;
    padding: 10px;
}

th.profilecategory {
    border-top: 1px solid #1b374f;
    padding: 10px;
    font-size: 1.7vw;
}

@media screen and (min-width: 1500px) {
    th.profilecategory {
        font-size: 28px;
    }
}

th {
    font-size:20px;
}

ul, ol {
    font-weight:300;
}

ol.toc {
    padding-left:20px;
}

/*    ol.toc li:hover {
        color: #1b374f;
        background-color: #237dc1a6;
        border-radius:5px;
    }*/

    ol.toc li a:link, ol.toc li a:visited {
        display:table-cell;
        color:inherit;
        text-decoration:none;
        padding:10px;
        
    }

        ol.toc li a:hover {
            color: #1b374f;
            background-color: #237dc1a6;
            border-radius: 5px;
        }

li {
    margin: 10px 0px;
}

figcaption {
    font-style:italic;
    font-size:13px;
}

iframe {
    border:none;
}